torch
tensorboardX
scikit-learn==0.20.3
pandas
joblib
tqdm
git+https://github.com/carlo-/gym@5bbd910a877ab849a9b75f35777286380363e454#egg=gym
cffi
cvxopt==1.2.3
mujoco_py==1.50.1.68
matplotlib==3.0.3
numpy
scipy==1.2.1
stable-baselines
mpi4py==3.0.1
ray[rllib]==0.6.4
ray[debug]
pybullet==2.4.8
-e git+https://github.com/benelot/pybullet-gym.git#egg=pybulletgym
