scikit-learn
pandas
joblib
tqdm
git+https://github.com/carlo-/gym@df2eb1456587dd6213d9c149e8982a4abd3a6713#egg=gym
cffi
mujoco_py
matplotlib
numpy
scipy
stable-baselines
mpi4py
ray[rllib]
ray[debug]
pybullet
-e git+https://github.com/benelot/pybullet-gym.git#egg=pybulletgym
