scikit-learn
pandas
joblib
tqdm
git+https://github.com/carlo-/gym@a8efb481c0b1181b9b2bdd40764d0802b072829f#egg=gym
cffi
mujoco_py
matplotlib
numpy
scipy
stable-baselines
mpi4py
ray[rllib]
ray[debug]
pybullet
-e git+https://github.com/benelot/pybullet-gym.git#egg=pybulletgym
